<div class="content_post"> 
<p class="tool_category"><%= tool.category.name %></p>
<div class=tools>
  <div class="maker-icon">
  <%= image_tag("#{tool.maker.id}.png") %>
  </div>
  <div class="tool_img">
    <%= image_tag tool.image.variant(resize: '400x400') %>
    <% if user_signed_in? %>
    <div class="favorite">
    <% if tool.favorited_by?(current_user) %>
    <%= link_to tool_favorites_path(tool), method: :delete, class: "favorite_btn" do %>
     ♥<%= tool.favorites.count %> いいね
    <% end %>
    <% else %>
     <%= link_to tool_favorites_path(tool), method: :post, class: "favorite_btn" do %>
      ♡<%= tool.favorites.count %> いいね
     <% end %>
    <% end %>
    </div>
    <% end %>
  </div>
  </div>
      <div class="more">
        <ul class="more_list" >
          <li>
            <%= link_to '詳細', tool_path(tool.id), method: :get, class: "btn" %>
          </li>
          <% if user_signed_in? && current_user.id == tool.user_id %>
            <li>
              <%= link_to '編集', edit_tool_path(tool.id), method: :get, class: "btn" %>
            </li>
            <li>
              <%= link_to '削除', tool_path(tool.id), method: :delete, class: "btn" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="postname">
        <a href="/users/<%= tool.user.id %>">
          <span>by</span> <%= tool.user.nickname %>
        </a>
      </div>
</div>