<%#= form_with(url: search_tools_path, local: true, method: :get, class: "search-form") do |form| %>
  <%#= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%#= form.submit "検索", class: "search-btn" %>
<%# end %>
<%= render "shared/header" %>
<%#div class='main'%>
<div class="ball">
<%= image_tag "ball.jpeg" %>

<div class="step">
<div class="step1">
<p> 　STEP1<br>　気になる道具を見つける！</p>
</div>
<div class="step2">
<p>　STEP2<br>　持ち主について知る！</p>
</div>
</div>
</div>
  <div class="search">
    <%= search_form_for @q, url: tools_searchtool_path do |f| %>
    <%= f.label :category_id_eq, 'カテゴリー：' %>
    <%= f.collection_select :category_id_eq, Category.all, :id, :name,include_blank: '指定なし' %>
    <br>
    <%= f.label :maker_id_eq, 'メーカー：' %>
    <%= f.collection_select :maker_id_eq, Maker.all, :id, :name,include_blank: '指定なし' %>
    <br>
    <%= f.label :evaluation_id, '評価：' %>
    <%= f.radio_button :evaluation_id_gteq, '' %>
    指定なし
    <%= f.radio_button :evaluation_id_gteq, 4 %>
    <strong>★</strong>3以上
    <%= f.radio_button :evaluation_id_gteq, 5 %>
    <strong>★</strong>4以上
    <%= f.radio_button :evaluation_id_gteq, 6 %>
    <strong>★</strong>5
    <br>
    <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="contents row">
    <%= tool_lists(@tools) %>
  </div>
