<%= render "shared/second-header"%>
<div class="new_player">
<h2>選手情報登録</h2>
<p>※登録は任意です</p>

<%= form_for @player do |f| %>
  <%= render "devise/shared/error_messages", resource: @player %>

  <p class="field">
    <label class="form-text">年齢</label><br>
    <%= f.text_field :age %>
  </p>

  <p class="field">
    <label class="form-text">所属チーム</label><br>
    <%= f.text_field :affiliation %>
  </p>

  <p class="field">
    <label class="form-text">身長</label><br>
    <%= f.text_field :height %>
  </p>

  <p class="field">
    <label class="form-text">体重</label><br>
    <%= f.text_field :weight %>
  </p>

  <p class="field">
    <label class="form-text">投法</label><br>
    <%= f.collection_select(:pitching_id, Pitching.all, :id, :name, {}, {class:"pitching-select"}) %>
  </p>

  <p class="field">
    <label class="form-text">打法</label><br>
    <%= f.collection_select(:batting_id, Batting.all, :id, :name, {}, {class:"batting-select"}) %>
  </p>

  <p class="field">
    <label class="form-text">地域</label><br>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
  </p>

  <p class="actions">
    <%= f.submit "登録する" %>
  </p>
<% end %>

<%= render "devise/shared/links" %>
</div>